/* footer {
} */
.footer-content {
  background-color: #3f51b5;
  min-height: calc(100vh - 70vh - 80px);

  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}
.footer-bottom {
  background-color: rgb(28, 21, 234);
  height: 70px;
}
