{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}
{{products[0].created_at|json}}
{{products[0].name|json}}

<div class="product-list">
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
  <app-product-item></app-product-item>
</div>
