<!-- <p>{{product | json}}</p> -->
<app-loading *ngIf="isLoading"></app-loading>
<div *ngIf="!isLoading" class="single-product flex gap-10 content ">
  <div class="single-product-image flex-1 gap-10 flex">

    <div class="single-product-image-list flex column gap-10 flex-1">
      <img *ngFor="let url of product?.imageUrl" (click)="handleChangeCurrentImage(url)"
        (mouseover)="handleChangeCurrentImage(url)" width="100" [src]="url" [alt]="product?.name" srcset=""
        [ngClass]="{current: currentImage == url}">
    </div>

    <div class="single-product-image-current flex-3">
      <!-- <img [src]="product? product.imageUrl[0] : ''" [alt]="product?.name" srcset=""> -->
      <img [src]="currentImage" [alt]="product?.name" srcset="">
    </div>
    <!-- <img src="./assets/images/products/maison_2/1.png" alt="" srcset=""> -->

  </div>
  <div class="single-product-view-details flex-1 ">
    <!-- <h1>Product détails</h1> -->
    <h2>{{product?.name?.substring(0, 25)}}</h2>
    <div class="single-product-view-details-price">
      <h4>$ {{(product?.regular_price || 0)/100 | currency: "CAD "}}</h4>
      <del>
        <h4>$ {{(product?.sold_price || 0)/100 | currency: "CAD " }}</h4>
      </del>
      <h4>- {{product? (((product.regular_price - product.sold_price)/product.regular_price
        )|percent): null}}</h4>
    </div>
    <div class="product-action-button flex column">
      <button class="btn flex-1 btn-main">Pay Now</button><br>
      <button class="btn flex-1 btn-main">Add to cart</button>
    </div>
    <div class="single-product-view-details-created-at">
      Crée le : 12/12/2025
    </div>
    <app-payement-card></app-payement-card>
  </div>
</div>
<app-products-details></app-products-details>
