<div class="signup">
  <div class="form-container">
    <form action="">
      <h2>Inscription</h2>
      <div class="form-line flex">
        <input class="flex-1" type="text" name="firstname" placeholder="Your firstname ..." [(ngModel)]="name">
        <input class="flex-1" type="text" name="lastname" placeholder="Your lastname ..." [(ngModel)]="lastName">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="email" name="email" placeholder="Your email ..." [(ngModel)]="email">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="passeword" placeholder="Your passeword ..." [(ngModel)]="pswd">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="passewordConfirm" placeholder="Your passeword confirme ..."
          [(ngModel)]="cfPswd">
      </div>
      <div class="button_flex">
        <button class="btn flex-1">S'inscrire</button>
      </div>
    </form>
  </div>
</div>
<h4>{{name}}</h4>
<h4>{{lastName}}</h4>
<h4>{{email}}</h4>
<h4>{{pswd}}</h4>
<h4>{{cfPswd}}</h4>
