.signup {
  height: 70vh;
}
.btn {
  font-size: 1.4rem;
  height: 40px;
  background-color: #1d1d1d;
  border: none;
  min-width: 100%;
  color: white;
  cursor: pointer;
  font-weight: bold;
}
.form-container {
  width: 600px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* border: solid #ccc; */
  background-color: white;
}
form {
  /* border: 0.1px solid black; */
}
form .form-line {
  height: 40px;
  padding: 10px;
}
form .form-line input {
  font-size: 1.4rem;
}
