<div class="signup">
  <div class="form-container">
    <form action="">
      <h2>Sign Up</h2>
      <p class="tac">Already have account <a routerLink="/signin">Signin</a></p>
      <div class="form-line flex gap-10 wrap">
        <input class="flex-1" type="text" name="firstname" placeholder="Your firstname ..."
          [(ngModel)]="user.firstName">
        <input class="flex-1" type="text" name="lastname" placeholder="Your lastname ..." [(ngModel)]="user.lastName">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="email" name="email" placeholder="Your email ..." [(ngModel)]="user.email">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="passeword" placeholder="Your passeword ..."
          [(ngModel)]="user.passeword">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="passewordConfirm" placeholder="Your passeword confirme ..."
          [(ngModel)]="user.passewordConfirme">
      </div>
      <div class="button_flex">
        <button class="btn flex-1" (click)="handleSubmit()">Sign Up</button>
      </div>
    </form>
  </div>
</div>
<p>{{user | json}}</p>
<!--
<h4>{{user.firstName}}</h4>
<h4>{{user.lastName}}</h4>
<h4>{{user.email}}</h4>
<h4>{{user.passeword}}</h4> -->
<!-- <h4>{{cfPswd}}</h4> -->
