<div class="single-product-details-container content b">
  <div class="product-details-title">
    <ul class="flex unlisted gap-10">
      <li><a href="">Déscription</a></li>
      <li><a href="">Additionnel Info</a></li>
      <li><a href="">Reviews</a></li>
    </ul>
  </div>
  <div class="product-details-info">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus libero fugiat adipisci sint, ea asperiores
    optio exercitationem quisquam, rerum hic ad minima iure quis eligendi dolores ex quia cum ratione?
  </div>
</div>
